@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    background-color: var(--color-white);
    color: var(--color-dark);
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

span {
    vertical-align: middle;
}

/* Text Styles*/

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: 1rem;
}

h1 {
    margin-top: 0;
    font-size: 3.052rem;
}

h2 {
    font-size: 2.441rem;
}

h3 {
    font-size: 1.953rem;
}

h4 {
    font-size: 1.563rem;
}

h5 {
    font-size: 1.25rem;
}

p {
    margin-bottom: 1rem;
}


/* Main logo */


.headerlogo {
    height: 100px;
    width: 100px;
    position: relative;
    left: 690%;
}
/* Landing Bacground image */
.Landingbackground {
    position: relative;
    top:-50px;
    z-index: 1;
    height: 550px;
    width: 100%;
    left: 0%;
}
/* Person on phone landing page image */
.persononphone {

    z-index: 3;
    height: 550px;
    width: 460px;
    position: absolute;
    top: 146px;
    left: 1076px;
}
.welcomeBox{
    z-index: 1000;
    top: 280px;
    left: 50px;
    position: absolute;
    color: white;
}
    
/* Signup Box */
.homeh1 {
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
    height: 50px;
    bottom: 10px;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
}
.formProfile {
    width: 90%;
    max-width: 450px;
    position: absolute;
    border-radius: 50px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(225, 224, 224);
    padding: 10px 10px 20px;
    text-align: center;
}
.formbox {
    width: 90%;
    max-width: 450px;
    position: absolute;
    border-radius: 50px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(225, 224, 224);
    padding: 10px 10px 20px;
    text-align: center;
}
#profiles{
    background-color: aqua;
}

.inputfield {
    padding-left: 110px;
    width: 150%;
    margin: 15px 0;
    border-radius: 0%;
    display: flex;
    align-items: center;


}

.input {
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 15px 15px;

}
.App {
    text-align: center;
    font-size: 15px;
    padding-top: 10px;
    height: 50px;
    bottom: 10px;
    color: rgb(30, 174, 246);
    margin-bottom: 20px;
}

.discription {
    z-index: 1000;
    font-size: larger;
    top: 650px;
    left: 50px;
    position: absolute;
    color: white;
}
.subbutton {
width: 370px;
    
    
}
